# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.DS_Store

# Python virtual environments
venv/
venv311/

# Data / notebooks
*.ipynb_checkpoints
data/interim/

# Virtual environments
venv/
.env/
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
